<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
        <h4>Introduction</h4>
        In the 21st century, success requires more than basic knowledge and skills. Students must learn how to take initiative and responsibility,build their confidence, solve problems, work in teams, communicate ideas, and manage themselves more effectively. The  project  is  focused  on  encouraging  students  to  face  a  real  scenario,  which  aims  to  consolidate  an  innovative  startup  based on  an application for mobile devices and develop skills related to organization, communication, and human relations to coordinate the team and learn to sell the ideas. StartAPP project is focused on essential aspects of application development (requirements analysis, user-centred development, agile methodologies, or design patterns) and a course where students learn to launch innovative projects to the market.
     </p>
      </div>
      <div class="col-lg-4">
        <p>
          <h4>Methodology</h4>
          An active methodology is used where the student is the protagonist of their learning (learning to learn) and is responsible for deciding what final product they want to develop and what knowledge they need to achieve the objectives of each delivery. 
					<ul>
						<li> Learn to learn.</li>
						<li> Project-Based Course: Learning by doing.</li>
						<li> Competitive Team-Based Learning: Groups (4 students)</li>
							<ul>
								<li>  Win the final contest based on a real financial round.</li>
							</ul>
						<li>Coworking and Collaborative Learning</li>
					</ul>
        </p>
        
        <p>
          <h4> Purpose </h4>
					<ul>
						<li>What is possible with the current technology?</li>
						<li>What do my users want?</li>
						<li>Which are similar solution in the market</li>
						<li>How can I “love the low end”?.</li>
						<li>How can I find more resources for innovation?</li>
						<li>How do I spot opportunities?</li>
					</ul>
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://workdrive.zohopublic.eu/show/publish/7cqhz159de4584302423195804eb43102fb47" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Last Project
        </a>
      </div>
    </div>
  </div>
</section>
